* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: rgba(34, 33, 33, 0.644);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App>header {
  height: 10vh;
  width: 100vw;
  box-shadow: 0 0 5px 1px black;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.App>header>h1 {
  color: aliceblue;
  font-weight: normal;
}

.App>header>img {
  height: 100%;
}

.App>main {
  max-width: 80vw;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}
